.App {
  text-align: center;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

iframe {
  width: 88%;
  height: 60vh;
  border-radius: 0.15rem;
  margin: 0 auto;
}


/* Color Scheme Configuration  */

/* Flex Box Configuration */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-item-default {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.856);
  color: black;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  height: 50vh;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  overflow-y: auto;
}

.flex-item-default:hover {
  box-shadow: none;
}

.flex-item-default a {
  text-decoration: none;
  color: firebrick;
  font-weight: 800;
}
.flex-item-default a:hover {
  color: dodgerblue;
}

/* Font Configuration  */

.large-font {
  font-size: large;
}

.medium-font {
  font-size: medium;
}

.small-font {
  font-size: small;
}

/* Element Width Configuration */
.view-width-10 {
  width: 10vw;
}
.view-width-20 {
  width: 20vw;
}
.view-width-30 {
  width: 30vw;
}
.view-width-40 {
  width: 40vw;
}
.view-width-50 {
  width: 50vw;
}
.view-width-60 {
  width: 60vw;
}
.view-width-70 {
  width: 70vw;
}
.view-width-80 {
  width: 80vw;
}
.view-width-90 {
  width: 90vw;
}
.view-width-100 {
  width: 100vw;
}

.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}

/* Element Height Configuration */
.view-height-10 {
  height: 10vh;
}
.view-height-20 {
  height: 20vh;
}
.view-height-30 {
  height: 30vh;
}
.view-height-40 {
  height: 40vh;
}
.view-height-50 {
  height: 50vh;
}
.view-height-60 {
  height: 60vh;
}
.view-height-70 {
  height: 70vh;
}
.view-height-80 {
  height: 80vh;
}
.view-height-90 {
  height: 90vh;
}
.view-height-100 {
  height: 100vh;
}

.height-10 {
  height: 10%;
}
.height-20 {
  height: 20%;
}
.height-30 {
  height: 30%;
}
.height-40 {
  height: 40%;
}
.height-50 {
  height: 50%;
}
.height-60 {
  height: 60%;
}
.height-70 {
  height: 70%;
}
.height-80 {
  height: 80%;
}
.height-90 {
  height: 90%;
}
.height-100 {
  height: 100%;
}

/* Element Margin Configuration */
.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}
.margin-40 {
  margin: 40px;
}
.margin-50 {
  margin: 50px;
}



/* Centering Elements  */
.align-element-center {
  margin: 0 auto;
}
.align-text-center {
  text-align: center;
}

.jumbo-image {
  opacity: 1.0;
}

.jumbo-image:hover {
  opacity: 0.85;
}

/* Border And Box Shadow Configuration */
.box-shadow {
  box-shadow: 0.2rem 0.2rem 0.4rem black;
}

/* Image Configuration */
.background-logo {
  background-image: url("https://bit.ly/3ep0Q4Y");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: bottom;
  background-size: 500px;
  background-position-x: -19rem;
  background-position-y: -10rem;
}

.defImage {
  height: 2rem;
}

/* Misceleanous Classes (In the process of conversion) */

.jumbo {
  height: 100vh;
  background-color: #444444;
  color: white;
  padding: 5rem;
}
hr {
  color: #444444;
  width: 88%;
}
.jumbo a {
  color: dodgerblue;
  text-decoration: none;
}
.jumboText {
  font-weight: 700;
  font-size: large;
}
.resourceLink {
  font-size: 1rem;
  color: dodgerblue;
  text-decoration: none;
}

.resourceList {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.5rem;
}

.nav-link {
  font-size: 1rem;
  height: 1.5rem;
  color: dodgerblue;
  text-decoration: none;
}
.nav-link:hover {
  color: forestgreen;
}
.nav-item {
  margin: 0 auto;
  text-decoration: none;
}
.ShareResourcePage {
  background-color: whitesmoke;
  padding-top: 20rem;

}
body {
  background-color: whitesmoke !important;
}
.Form {
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: space-evenly;
  
}

.Form label {
  font-size: 1rem;
  text-decoration: underline;
  color: dodgerblue;

}

.RadioButton {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.RadioButtons input {
  cursor: pointer;
}
.RadioButton:hover {
  color: seagreen;
}
.InputElement {
  padding: 0.1rem;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 0.2rem;
  background-color: whitesmoke;
  color:  black;
  font-size: .8rem;  
  margin-top: 0.8rem;
  flex-grow: 1;
  width: 33%;
}

.buttons-section {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.RadioButtons {
  display: flex;
  flex-direction: column;
}

.LabelTitle {
  font-size: xx-large;
  color: dodgerblue;
  padding: 1rem;
}

fieldset {
  border: 0.2rem solid dodgerblue;
  overflow: auto;
  height: 90vh;
  box-shadow:0.1rem 0.1rem 0.9rem white ;
}
legend {
  color: white;
  font-size: 2rem;
  /* text-shadow: 0.1rem 0.1rem 1rem black; */
  border: 0.1rem solid dodgerblue;
  border-radius: 0.3rem;
  background-color:seagreen;

}

.form-button {
  padding: 0.9rem;
  font-size: 0.90rem;
  font-weight: 900;
  border-radius: 0.3rem;
  color: dodgerblue;
  background-color: whitesmoke;
  border-style: none;
  margin: 0 auto;
  margin-top: 1rem;
  width: 33%;
}
.form-button:hover {
  background-color: seagreen;
  cursor: pointer;
  color: #444444;
}

.header {
  display: flex;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem #444444;
  position: fixed;
  width: 100vw;
  height: 4rem;
  background-color: #444444;
  z-index: 1;
}
.logo {
  height: 1.5rem;
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  color: dodgerblue;
  font-weight: bold;
  /* text-shadow: 1px 8px 16px black; */
}
