.App {
  text-align: center;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



iframe {
  width: 88%;
  height: 33vh;
  border-style: none;
  border-radius: 0.15rem;

}



.defImage {
  height: 2rem;
}

.box {
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0.4rem black;
  background-image: url("https://bit.ly/3ep0Q4Y");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: bottom;
  background-size: 500px;
  background-position-x: -19rem;
  background-position-y: -10rem;
  background-color: rgba(255, 255, 255, 0.856);;
  color: black;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  width: 30vw;
  height: 50vh;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  overflow-y: auto;
  
}


.box a {
  text-decoration: none;
  color: firebrick;
  font-weight: 800;

    
}
.box:hover {
  
  box-shadow:none;
}
.box a:hover {
  color: darkblue;

    
}

.box * {
  font-size: x-large;
  font-weight: 900;
}
.jumbo {
  height: 100vh;
  background-color: #444444;
  color: white;
  padding-top: 5rem;
}
hr {
  color: #444444;
  width: 88%;
}
.jumbo a {
  color: dodgerblue;
  text-decoration: none;
}
.jumboText {
  font-weight: 700;
  font-size: large;
}
.resourceLink {
  font-size: 1rem;
  color: dodgerblue;
  text-decoration: none;
}

.resourceList {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10rem;

}

.nav-link {
  font-size: 2rem;  
  height: 1.5rem;
  margin: 40px;
  color: dodgerblue;
}

.ShareResourcePage {
  padding-top: 144px;
}
.Form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  margin: 0 auto;

}
.Form input {
  padding: 1rem;
  background-color: dodgerblue;
  border-style: none;
  border-radius: 0.3rem ;
  margin: 1rem;
  color: white;
  height: 100%;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  font-size: xx-large;
}
.header {
  display: flex;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem #444444;
  position: fixed;
  width: 100vw;
  height: 4rem;
  background-color: #444444;
 z-index: 1;
}
.logo {
  height: 1.5rem;
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  color: dodgerblue;
  font-weight: bold;
  /* text-shadow: 1px 8px 16px black; */
  
}
